:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blye: #2e2f42;
  --green: #ecf1f4;
  --slate: #434455;
  --light-slate: #ecf1f4;
  --cornflower: #e7e9fc;
  --cloud: #ecf1f4;
  --navy-bly-modal: #2e2f42;
  --GREY: #2e2f42;
  --WHITE: #ffffff;
  --Dairy: #fcfcfc;
  --black: #2e2f42;
}

.body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  background-color: var(--WHITE);
}
img {
  border: 1px solid var(--cornflower, #e7e9fc);
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* header */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  position: relative;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav {
  display: flex;
  align-items: center;
}

.web {
  margin-right: 76px;
  color: #404bbf;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name {
  color: #2e2f42;
  font-family: Raleway, sans-serif;
  font-size: 18px;

  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav-item {
  padding: 24px 0;
  display: block;
  color: var(--navy-blye);

  font-family: Roboto;
  font-size: 16px;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item::after {
  position: absolute;
  left: 0;
  content: "";
  opacity: 0;
  width: 100%;
  height: 4px;
  bottom: -1px;
  color: var(--ocean);
  background-color: #404bbf;
  border-radius: 2px;
  margin-top: 20px;
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}

.nav-item:hover::after,
.nav-item:focus::after,
.nav-item.current::after {
  opacity: 1;
}

.nav-item.current {
  color: #404bbf;
}

.nav-item:active {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
.adres-list {
  display: flex;
  gap: 40px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.mail {
  padding: 24px 0;
  display: block;
  font-family: Roboto;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;

  text-decoration: none;
  color: var(--slate);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover,
.mail:focus {
  color: var(--ocean);
}

/* main */
.advantages,
.img,
.our-team {
  padding: 120px 0;
}
.img {
  padding-top: 0;
}
.title {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/fone.jpg);

  block-size: cover;
  padding: 188px 0;
  background-color: var(--navy-blye);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title-text {
  max-width: 496px;
  margin: 0 auto;
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 107.143%;
  letter-spacing: 1.12px;
}

.title-button {
  min-width: 169px;

  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  display: block;
  margin-top: 48px;

  color: var(--white, #fff);
  background-color: var(--iris);
  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.title-button:hover,
.title-button:focus {
  background-color: var(--ocean);
}
/* Advantages */
.subtitle-content {
  display: flex;
  padding: 24px 100px;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  border: none;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.subtitle-list {
  display: flex;
  gap: 24px;
}
.subtitle {
  width: calc((100% - 72px) / 4);
}
.heading {
  margin-bottom: 8px;
  color: var(--navyblue, #2e2f42);

  font-family: Roboto, sans-serif;
  font-size: 20px;

  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.heading-title {
  color: var(--slate, #434455);
  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
}
/* sektion-2 */
.img {
  background-color: var(--WHITE);
}
.img-list {
  display: flex;
  gap: 24px;
}
.pic {
  width: calc((100% - 48px) / 3);
}
.caption {
  margin-bottom: 72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 36px;

  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* section our-team */
.our-team {
  background: #f4f4fd;
}
.list-our-team {
  display: flex;
  gap: 24px;
}

.name-team {
  color: var(--navyblue, #2e2f42);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 36px;

  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.img-team {
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
  background: var(--white, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.name-text {
  color: var(--slate, #434455);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-content {
  padding: 32px 0;
  text-align: center;
}
.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-item {
  width: 40px;
  height: 40px;
}

.team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover,
.team-link:focus {
  background-color: #404bbf;
}

.team-icons {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

/* customers */
.customers-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-text {
  margin-bottom: 72px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 111.111%;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
}
.customers-link {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  color: #8e8f99;

  border: 1px solid #8e8f99;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  border-color: #404bbf;
  color: #404bbf;
}

.coustumers-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 104px;
  height: 56px;
  fill: currentColor;
}
/* footer */
.footer-content {
  display: flex;
  align-items: baseline;
}
.footer-content-text {
  margin-right: 120px;
}
.footer-icons {
  display: flex;
  gap: 16px;
}

.footer-text-item {
  margin-bottom: 16px;
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-icons-item {
  width: 40px;
  height: 40px;
}

.footer-icons-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}
.footer-social-icons {
  fill: #f4f4fd;
}

.footer-name {
  padding: 100px 0 100px;
  background: var(--navyblue, #2e2f42);
}
.footer {
  display: inline-block;

  margin-bottom: 16px;

  color: var(--iris, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;

  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-span {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;

  font-weight: 800;
  line-height: 116.667%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;

  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}
.footer-form {
  margin-left: 80px;
}

.form {
  display: flex;
  gap: 24px;
}

.form-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE);
  margin-bottom: 16px;
}

.form-input {
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.48px;
  width: 264px;
  height: 40px;
  color: #ffffff;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-right: 24px;

  padding: 8px 212px 8px 16px;
}
.form-button {
  min-width: 165px;
  height: 40px;
  box-shadow: none;
  border: none;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  color: var(--WHITE);
  text-align: center;

  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  background: var(--iris);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  gap: 16px;
}
.form-button:hover,
.form-button:focus {
  background: var(--ocean);
}

.form-input::placeholder {
  color: #ffffff;
}

.footer-form-icons {
  fill: var(--WHITE);
  margin-left: 16px;
}
/* modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  backdrop-filter: blur(1px);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);

  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border-radius: 50%;
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-text {
  display: block;
  width: 360px;
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-name {
  display: block;
  margin-top: 8px;
  margin-bottom: 4px;
  line-height: 1.17;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: transparent;
}

.modal-content {
 margin-bottom: 8px;
  
}
.modal-content-placeholder{ margin-bottom: 16px}
.modal-item-icons {
  position: relative;
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  border-radius: 4px;
}
.modal-form-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-link {
  color: #4d5ae5; 
}
.modal-form-icons:hover,
.modal-form-icons:focus {
  fill: #4d5ae5;
}
.modal-message::placeholder {
}
.modal-item {
  padding-left: 38px;
  width: 100%;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 360px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}
.modal-item:hover,
.modal-item:focus {
  border-color: #4d5ae5;
}

.modal-item:hover + .modal-form-icons,
.modal-item:focus + .modal-form-icons {
  fill: #4d5ae5;
}
.modal-message {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-message:hover,
.modal-message:focus {
  border-color: #4d5ae5;
}

.chekbox {

  margin-bottom: 24px
 
}

.form-chekbox {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99; ;
}
.text-checbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 16px;
  height: 16px;
  color: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
}


.text-checbox-icons{
  fill: currentColor;
 }
 

.checkbox:checked + .form-chekbox> .text-checbox{
  background-color: #404bbf;
  border-color: #404bbf;
  color: var(--light-slate);
  border: none; 
  fill:  #F4F4FD; 
}

.text-checbox-link {
  color: var(--lightslate, #8e8f99);

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
}
/* portfolio section 1 */
.filtr {
  padding: 96px 0 120px 0;
}
.btn {
  border: 1px solid #e7e9fc;
  color: var(--iris, #4d5ae5);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.64px;
  background-color: #f4f4fd;
  cursor: pointer;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
  color: var(--WHITE);
  background-color: #404bbf;
}
.list-btm {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

/* portfolio section 2 */
.project {
  display: flex;

  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-img {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  color: #f4f4fd;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside :hover .project-overlay,
.aside :focus .project-overlay {
  transform: translateY(0);
}
.aside {
  width: calc((100% - 48px) / 3);
  background-color: var(--WHITE);
}
.img-link:hover,
.img-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.img-link {
  display: block;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-text {
  margin-bottom: 8px;
  display: flex;
  padding: 0px 16px;
  color: var(--navy-blye, #2e2f42);
  font-family: Roboto, sans-serif;
  font-size: 20px;

  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.4px;
}
.desc {
  color: var(--slate, #434455);
  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  align-self: stretch;
}
.aside-text {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
